input{
    width: 300px;
    height: 10px;
    border-radius: 15px;
    border: 1px darkmagenta solid;
    padding: 20px 0 20px 40px;
    color: darkmagenta;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}
th:hover{
    background-color:blueviolet;
    transition: 0.7s all;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


